/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #6af19e;
    color: #333333;
}
/* Estilo de los parrafos */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rebeccapurple;
}

/* Estilos para los encabezados */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

/* Estilos para los enlaces */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para las listas */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #004499;
}
#caja{
      background-color: aliceblue;
      width: 500px;
      height: 300px;
    cursor: url('/Resources/nat991.cur'), auto;
}