/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(201, 3, 3);
    color: rgb(255, 255, 255);
}
/* Estilo de los parrafos */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

/* Estilos para los encabezados */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* Estilos para los enlaces */
a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para las listas */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8FBC8F; /* Verde pastel */
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    font-weight: bold;
}

.boton:hover {
    background-color: #6B8E23; /* Cambia el color al pasar el ratón sobre el botón */
}

hr {
    width: 60%; /* Ocupa 1/3 de la pantalla */
    border: 40px solid #ffffff; /* Color blanco */
    margin: 50px 0; /* Espaciado superior e inferior */
    text-align: center;

}

.textochingada{

    text-align: center;
    color: azure;

}